<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This webite is created with nodejs by sumit acharya. This helps users to get weather information from mapbox.com and darksky.net</p>
        <img class="portrait" src="/img/sumit_03.png">
    </div>

    {{>footer}}
</body>

</html>